---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	.text-shadow-blurple{
		text-shadow: 0px 0px 30px rgba(88, 101, 242, 0.5);
	}
	.text-shadow-red{
		text-shadow: 0px 0px 30px rgba(255, 0, 0, 0.5);
	}
	:root {
		--bg-color: #101010;
		--bg-gradient: linear-gradient(90deg, #5865F215 0%, #0d21fb15 30.92%, #8F00FF15 69.11%, #43007715 100%);
	}
	html {
		overflow-x: hidden;
		font-family: system-ui, sans-serif;
	}
</style>
